.body{

    background: url('../image/body-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.btech_logo{
    margin-left:  120px;
}

